# 주민 데이터 처리
1. 생일 : 월/일로 분류하기
2. 성별 : 기호->글자
3. image src 추가하기 -> spring 이미지 제외 구성 후 추가해 볼 것
4. 엑셀 앞 인덱스 없애기

In [1]:
import requests
import pandas as pd
import openpyxl
import sys
import os
from bs4 import BeautifulSoup

### 저장해놓은 엑셀 파일 불러오기

In [2]:
data=openpyxl.load_workbook('animal_crossing_neighbors.xlsx')

ws=data.active

### 이미지의 파일명 변경

In [3]:
file_path='./neighbor_images'
files=os.listdir(file_path)
for filename in files:
    if filename.endswith('png'):
        temp=filename.replace('image','')
        temp=temp.replace('.png','')
        new_filename='0'*(3-len(temp))+temp+'.png'
        os.rename(file_path+'/'+filename,file_path+'/'+new_filename)

In [4]:
new_data=[]
for r in ws.rows:
    if r[0].row==1:
        continue
    else:
        if r[3].value=='♀':
            sex='여'
        elif r[3].value=='♂':
            sex='남'
        birthday=r[4].value
        month=birthday[0:2]
        day=birthday[4:6]
        feature=[r[1].value,r[2].value,sex,month,day,r[5].value]
        new_data.append(feature)

In [5]:
data=pd.DataFrame(new_data,columns=['종','이름','성별','생일-월','생일-일','성격'])
data.head(10)

   종   이름 성별 생일-월 생일-일   성격
0  개  카라멜  여   12   27  친절함
1  개    존  남   11   01  무뚝뚝
2  개   럭키  남   11   04   먹보
3  개   로빈  남   05   13   먹보
4  개   토미  남   08   04   먹보
5  개  블랜더  여   10   25  성숙함
6  개    벤  남   06   10   먹보
7  개  바닐라  여   11   16  친절함
8  개   베리  여   06   18  아이돌
9  개   마롱  여   01   11  아이돌

In [6]:
data.to_excel('neighbors.xlsx',index=False) #excel로 파일 변환